* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* Utilities */
.text-primary {
  color: #f4f4f4;
}

/* Navbar */

#nav-bar {
  display: flex;
  background: #333;
  color: #f4f4f4;
  padding: 1em 0;
  position: sticky;
  top: 0;
}

#nav-bar h1 {
  flex: 2;
  margin-left: 1em;
}

#nav-bar ul {
  display: flex;
  flex: 3;
  align-items: center;
}

#nav-bar ul li a:hover {
  background: #f4f4f4;
  color: #333;
  border-radius: .3em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f4f4f4;
  padding: 1em;
}

/* Showcase */

#show-case {
  background: url(./images/architecture-buildings-city-755405.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 2em;
  font-size: 3em;
}

/* Contact Info */

#contact-info {
  background: #332E43;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#contact-info .section-content {
  padding: 2em;
  margin: 0 auto;
}

#contact-info .section-content h2 {
  text-align: center;
  margin: 1em 0;
}

#contact-info .section-content #contact-links {
  padding: 2em;
  display: flex;
  justify-content: center;
}


/* Footer */

footer {
  background: #333;
  text-align: center;
  padding: .75em 0;
  position: sticky;
  bottom: 0;
}
